

html {
  background-color: #C2C4B6 ;
}

body {
  background-color: #C2C4B6 ;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  position: relative;
}

header {
  height: 140px;
  width: 102%;
  background-color: #8474A1 ;
  text-align: center;
	padding: 0;
  padding-top: 20px;
	margin: 0;
  margin-left:-1%;
  margin-top: -25px;
}

nav {
padding-top: 5px;
padding-bottom: 20px;
margin-top: 10px;
}

nav ul {
list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
display: inline;
}

li a {
display: inline-block;
padding-left: 50px;
padding-right: 50px;
text-decoration: none;
text-align: center;
font-size: 20px;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}


li a:hover {
  color: black;
}

a {text-decoration: none;
color: #F3DBCF;}

a:hover {
  color: black;
}

a:link {
  color: #F3DBCF;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #8474A1;
  letter-spacing: 1px;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: .5fr .5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header" "AquariusSym Aquarius AquariusDate" "PiscesSym Pisces PiscesDate" "AriesSym Aries AriesDate" "TaurusSym Taurus TaurusDate" "GeminiSym Gemini GeminiDate" "CancerSym Cancer CancerDate" "LeoSym Leo LeoDate" "VirgoSym Virgo VirgoDate" "LibraSym Libra LibraDate" "ScorpioSym Scorpio ScorpioDate" "SagittariusSym Sagittarius SagittariusDate" "CapricornSym Capricorn CapricornDate" "footer footer footer";
  padding-left: 60px;
  padding-right: 60px;
}

.description{
  padding-top: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.header { grid-area: header;


}

.header h2 {
  font-size: 35px;
}

.AquariusSym { grid-area: AquariusSym;
text-align: center;
background-color: #E8DBCB;
 }

.PiscesSym { grid-area: PiscesSym;
text-align: center;
background-color: #E8DBCB;
 }

.AriesSym { grid-area: AriesSym;
text-align: center;
background-color: #E8DBCB;
}

.TaurusSym { grid-area: TaurusSym;
text-align: center;
background-color: #E8DBCB;
}

.GeminiSym { grid-area: GeminiSym;
text-align: center;
background-color: #E8DBCB;
}

.CancerSym { grid-area: CancerSym;
text-align: center;
background-color: #E8DBCB;
}

.LeoSym { grid-area: LeoSym;
text-align: center;
background-color: #E8DBCB;
}

.VirgoSym { grid-area: VirgoSym;
text-align: center;
background-color: #E8DBCB;
}

.LibraSym { grid-area: LibraSym;
text-align: center;
background-color: #E8DBCB;
}

.ScorpioSym { grid-area: ScorpioSym;
text-align: center;
background-color: #E8DBCB;
}

.SagittariusSym { grid-area: SagittariusSym;
text-align: center;
background-color: #E8DBCB;
 }

.CapricornSym { grid-area: CapricornSym;
text-align: center;
background-color: #E8DBCB;
}

.footer button { grid-area: footer;

 }

.Aquarius { grid-area: Aquarius;
text-align: center;
background-color: #E8DBCB;
}

.Pisces { grid-area: Pisces;
text-align: center;
background-color: #E8DBCB;
}

.Aries { grid-area: Aries;
text-align: center;
background-color: #E8DBCB;
}

.Taurus { grid-area: Taurus;
text-align: center;
background-color: #E8DBCB;
}

.Gemini { grid-area: Gemini;
text-align: center;
background-color: #E8DBCB;
}

.Cancer { grid-area: Cancer;
text-align: center;
background-color: #E8DBCB;
}

.Leo { grid-area: Leo;
text-align: center;
background-color: #E8DBCB;
}

.Virgo { grid-area: Virgo;
text-align: center;
background-color: #E8DBCB;
}

.Libra { grid-area: Libra;
text-align: center;
background-color: #E8DBCB;
}

.Scorpio { grid-area: Scorpio;
text-align: center;
background-color: #E8DBCB;
}

.Sagittarius { grid-area: Sagittarius;
text-align: center;
background-color: #E8DBCB;
}

.Capricorn { grid-area: Capricorn;
text-align: center;
background-color: #E8DBCB;
}

.AquariusDate { grid-area: AquariusDate;
text-align: center;
background-color: #E8DBCB;
}

.PiscesDate { grid-area: PiscesDate;
text-align: center;
background-color: #E8DBCB;
}

.AriesDate { grid-area: AriesDate;
text-align: center;
background-color: #E8DBCB;
}

.TaurusDate { grid-area: TaurusDate;
text-align: center;
background-color: #E8DBCB;
}

.GeminiDate { grid-area: GeminiDate;
text-align: center;
background-color: #E8DBCB;
}

.CancerDate { grid-area: CancerDate;
text-align: center;
background-color: #E8DBCB;
}

.LeoDate { grid-area: LeoDate;
text-align: center;
background-color: #E8DBCB;
}

.VirgoDate { grid-area: VirgoDate;
text-align: center;
background-color: #E8DBCB;
}

.LibraDate { grid-area: LibraDate;
text-align: center;
background-color: #E8DBCB;
}

.ScorpioDate { grid-area: ScorpioDate;
text-align: center;
background-color: #E8DBCB;
}

.SagittariusDate { grid-area: SagittariusDate;
text-align: center;
background-color: #E8DBCB;
}

.CapricornDate { grid-area: CapricornDate;
text-align: center;
background-color: #E8DBCB;
}

footer {
  margin-left: 60px;
  margin-top: -40px;
  margin-bottom: 40px;
}

.MyButton {
width: 160px;
padding: 20px;
font-weight: bold;
font-size: 120%;
background: #8474A1;
color: black;
border: 1px solid #8474A1;
border-radius: 10px;
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
display: block;
text-align: center;
}

.MyButton:hover {
color: #F3DBCF;
background: #000;
border: 1px solid #fff;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr .5fr .5fr .5fr .5fr .5fr .5fr;
  grid-template-areas: "header header header header" "AquariusContent AquariusContent PiscesContent PiscesContent" "AriesContent AriesContent TaurusContent TaurusContent" "GeminiContent GeminiContent CancerContent CancerContent" "LeoContent LeoContent VirgoContent VirgoContent" "LibraContent LibraContent ScorpioContent ScorpioContent" "SagittariusContent SagittariusContent CapricornContent CapricornContent";
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
}

.header { grid-area: header;
  text-align: left;
}

.AquariusContent { grid-area: AquariusContent;
  text-align: left;
  background-color: #E8DBCB;
}

.AquariusContent h3 {
  padding-left: 25px;
}

.PiscesContent { grid-area: PiscesContent;
  text-align: left;
  background-color: #E8DBCB;
 }

 .PiscesContent h3 {
   padding-left: 25px;
 }

.AriesContent { grid-area: AriesContent;
  text-align: left;
  background-color: #E8DBCB;
}

.AriesContent h3 {
  padding-left: 25px;
}

.TaurusContent { grid-area: TaurusContent;
  text-align: left;
  background-color: #E8DBCB;
}

.TaurusContent h3 {
  padding-left: 25px;
}

.GeminiContent { grid-area: GeminiContent;
  text-align: left;
  background-color: #E8DBCB;
}

.GeminiContent h3 {
  padding-left: 25px;
}

.CancerContent { grid-area: CancerContent;
  text-align: left;
  background-color: #E8DBCB;
}

.CancerContent h3 {
  padding-left: 25px;
}

.LeoContent { grid-area: LeoContent;
  text-align: left;
  background-color: #E8DBCB;
}

.LeoContent h3 {
  padding-left: 25px;
}

.VirgoContent { grid-area: VirgoContent;
  text-align: left;
  background-color: #E8DBCB;
 }

 .VirgoContent h3 {
   padding-left: 25px;
 }

.LibraContent { grid-area: LibraContent;
  text-align: left;
  background-color: #E8DBCB;
}

.LibraContent h3 {
  padding-left: 25px;
}

.ScorpioContent { grid-area: ScorpioContent;
  text-align: left;
  background-color: #E8DBCB;
}

.ScorpioContent h3 {
  padding-left: 25px;
}

.SagittariusContent { grid-area: SagittariusContent;
  text-align: left;
  background-color: #E8DBCB;
}

.SagittariusContent h3 {
  padding-left: 25px;
}

.CapricornContent { grid-area: CapricornContent;
  text-align: left;
  background-color: #E8DBCB;
}

.CapricornContent h3 {
  padding-left: 22px;
}

p{
  padding-left: 25px;
  padding-right: 25px;
  line-height: 19px;
  padding-top: 5px;
  padding-bottom: 0px;
}

footer {
  height: 100px;
}


  .grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 0fr;
    grid-template-areas: "header header header header" "aquarius aquarius pisces pisces"  "aries aries taurus taurus" "gemini gemini cancer cancer" "leo leo virgo virgo" "libra libra scorpio scorpio" "sagittarius sagittarius capricorn capricorn" "footer footer footer footer";
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
  }

  .header { grid-area: header;

  }

  .aquarius { grid-area: aquarius;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .pisces { grid-area: pisces;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .aries { grid-area: aries;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .taurus { grid-area: taurus;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .gemini { grid-area: gemini;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .cancer { grid-area: cancer;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .leo { grid-area: leo;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .virgo { grid-area: virgo;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .libra { grid-area: libra;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .scorpio { grid-area: scorpio;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .sagittarius { grid-area: sagittarius;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .capricorn { grid-area: capricorn;
    background-color: #E8DBCB;
    padding-left: 50px;
  }

  .footer { grid-area: footer;

  }

  progress {
    -webkit-appearance: none;
    background-color: #8474A1;
  }

  .heart {
  position:relative;
  margin: 1em;
}

.heart:before, .heart:after {
	position: absolute;
  content: "";
  top: 0;
	background: #8474A1;

	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;

	transform: rotate(45deg);
	transform-origin :100% 100%;
}

.heart:before {
  animation: left-ventricle .7s linear infinite;
}

.heart:after {
  animation: right-ventricle .7s linear infinite;
}

@keyframes left-ventricle {
  0%, 100% {
    left: 100px;
    width: 100px;
    height: 170px;
  	border-radius: 50px 50px 0 0;
  }
  20%, 40% {
    left: 100px;
	  width: 110px;
  	height: 180px;
  	border-radius: 70px 70px 0 0;
  }
}

@keyframes right-ventricle {
  0%, 100% {
    width: 100px;
    height: 170px;
  	border-radius: 50px 50px 0 0;
  }
  20%, 40% {
    left: -10px;
	  width: 110px;
  	height: 180px;
  	border-radius: 70px 70px 0 0;
  }
}

.top {
position: fixed;
bottom: 15px;
right: 15px;
width: 3rem;
text-decoration: none;
text-align: center;
padding: .8rem;
z-index: 100;
background-color: #8474A1;
font-size: 30px;
border-radius: 50%;
}

@ media (max-width: 600px){

  .grid-container3 {
    grid-template-columns: repeat(1fr);
    grid-template-rows:
    grid-template-areas: "header header header header" "aquarius aquarius aquarius aquarius" "pisces pisces pisces pisces";
  }
}
